.VisitCountries-container {
  background-color: #161624;
  padding: 30px;
}

.heading {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 20px;
}
.Countries-list {
  list-style-type: none;
  border-top: 1px solid #94a3b8;
  height: 280px;
  overflow: auto;
  border-radius: 5px;
  padding-left: 0px;
}
.visited-countries-list-items {
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}
