.visited-countries-list-item {
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #1f1f2f;
}

.visited-countries-img {
  width: 280px;
  height: 180px;
}
.visited-countries-name-button-container {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  align-items: center;
  margin: 0px;
}
.visited-countries-name {
  color: #ffffff;
  font-family: 'Roboto';
}
.remove-button {
  background-color: transparent;
  height: 30px;
  width: 70px;
  color: #ffffff;
  font-family: 'Roboto';
  border: 1px solid #94a3b8;
  border-radius: 5px;
}
